<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vue.dochiAdmin.mapper.BoardMapper">
	<select id="listGet" parameterType="com.vue.dochiAdmin.dto.PageDto" resultType="com.vue.dochiAdmin.dto.BoardDto">
		SELECT
			type,
			title,
			created_user,
			created_at,
			view_cnt
		FROM
			board
		ORDER BY
			uid
		LIMIT
			#{pageStart}, #{qty}
	</select>
	<select id="getTotalCount" resultType="int">
		SELECT
			count(uid)
		FROM
			board
	</select>
</mapper>