<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vue.dochiAdmin.mapper.UserMapper">
	<select id="getUser" resultType="com.vue.dochiAdmin.dto.UserDto">
		SELECT 
			*
		FROM
			user
		Where
			email = #{email}
		AND
			grade = 0
	</select>
	<select id="getUserList" parameterType="com.vue.dochiAdmin.dto.PageDto" resultType="com.vue.dochiAdmin.dto.UserDto">
		SELECT
			uid,
			email,
			name,
			phone,
			status,
			nickname
		FROM
			user		
		ORDER BY
			uid 
		LIMIT
			#{pageStart}, #{qty}
	</select>
	<select id="getTotalCount" resultType="int">
		SELECT
			count(uid)
		FROM
			user
	</select>
	
	<select id="searchTotalCount" resultType="int">
		SELECT
			count(uid)
		FROM
			user
	</select>
	<select id="userDetailGet" resultType="com.vue.dochiAdmin.dto.UserDto">
		SELECT
			uid,
			email,
			name,
			phone,
			created_at,
			status,
			nickname,
			grade
		FROM
			user
		WHERE
			uid = #{uid}
	</select>
	
	<update id="userStatusChangeGet">
		UPDATE
			user
		SET
			status = 2,
			updated_at = now()
		WHERE
			uid = #{uid}
	</update>
	
	<update id="userGradeChangeGet">
		UPDATE
			user
		SET
			grade = 0,
			updated_at = now()
		WHERE
			uid = #{uid}
	</update>
	<sql id="search">
  	<if test="type != null">
  		<trim prefix="and (" suffix=")" prefixOverrides="OR">
  			<foreach collection="typeToArray" item="type">
  				<trim prefix="OR">
  					<choose>
  						<when test="type == 't'.toString()">
  							title like concat('%', #{keyword}, '%')
  						</when>
  						<when test="type == 'c'.toString()">
  							content like concat('%', #{keyword}, '%')
  						</when>
  						<when test="type == 'w'.toString()">
  							writer like concat('%', #{keyword}, '%')
  						</when>
  					</choose>
  				</trim>
  			</foreach>	
  		</trim>
  	</if>
  </sql>
</mapper>